= form_for @listing, html: { class: "form-horizontal", role: "form" } do |f|
  -if @listing.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@listing.errors.count, "error")} prohibited this listing from being saved:"

      %ul
        - @listing.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :seller, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :seller, class: 'form-control'
  .form-group
    = f.label :address, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :address, class: 'form-control'
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :price, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :price, class: 'form-control'
  .form-group
    = f.label :sq_ft, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :sq_ft, class: 'form-control'
  .form-group
    = f.label :bedrooms, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :bedrooms, class: 'form-control'
  .form-group
    = f.label :bathrooms, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :bathrooms, class: 'form-control'
  .form-group
    = f.label :agent, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :agent, class: 'form-control'
  .form-group
    = f.label :pictures, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :pictures, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
