.page-header
  = link_to new_listing_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Listing
    
  %h1 All Listings


-#             - if listing.picture
-#               = image_tag attachment_url(listing, :picture), size: "300x300"
-#           %td
-#             = link_to listing do
-#               %span.glyphicon.glyphicon-ok
-#           %td
-#             = link_to edit_listing_path(listing) do
-#               %span.glyphicon.glyphicon-pencil

.container
  - @listings.each do |listing|
    .row
      .col-lg-12
        %h2.page-header
          = listing.address
    .row
      .col-md-8
        = image_tag attachment_url(listing, :picture), size: "750x500"
      .col-md-4
        %h3
          Description
        %p.text-justify
          = listing.description
    .row
      .col-md-4
        %h3
          Property Features
        %ul
          %li
            Square Feet:
            = listing.sq_ft
          %li
            Bathrooms:
            = listing.bathrooms
          %li
            Bedrooms:
            = listing.bedrooms
      .col-md-4
        %h3
          Need To Know
        %p
          Price:
          = listing.price
        %p
          Seller:
          = listing.seller
        %p
          Selling Agent:
          = listing.agent
          -# link_to show_user_path(user)
      .col-md-4
        %h2
          Show
          = link_to listing do
            %span.glyphicon.glyphicon-home
