.page-header
  = link_to new_listing_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Listing
  %h1 Listing listings

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Seller
        %th Address
        %th Description
        %th Price
        %th Sq ft
        %th Bedrooms
        %th Bathrooms
        %th Agent
        %th Pictures

    %tbody
      - @listings.each do |listing|
        %tr
          %td= listing.seller
          %td= listing.address
          %td= listing.description
          %td= listing.price
          %td= listing.sq_ft
          %td= listing.bedrooms
          %td= listing.bathrooms
          %td= listing.agent
          -# %td= image_tag attachment_url(@listing, :pictures), size: "200x200"
          %td
            - if listing.pictures
              = image_tag attachment_url(listing, :pictures)
