.page-header
  = link_to listings_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_listing_path(@listing), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show listing

.container
  .row
    .col-lg-12
      %h2.page-header
        -# = @listing.paginate
        = @listing.address
  .row
    .col-md-8
      = image_tag attachment_url(@listing, :picture), size: "750x500"

    .col-md-4
      %h3
        Description
      %p.text-justify
        = @listing.description
      %h3
        Need To Know
      %p
        Price:
        = @listing.price
      %p
        Seller:
        = @listing.seller
      %p
        Selling Agent:
        = @listing.agent
      %h3
        Property Features
      %ul
        %li
          Square Feet:
          = @listing.sq_ft
        %li
          Bathrooms:
          = @listing.bathrooms
        %li
          Bedrooms:
          = @listing.bedrooms

  .row
    .col-lg-12
      %h3.page-header
        More Pictures

        .col-sm-3.col-xs-6
        - @listing.pictures.each do |picture|
          = image_tag attachment_url(picture, :image), size: "200x200"

    -# .col-sm-3.col-xs-6
    -#   = image_tag("1_3.jpg", size: "325x150", :alt => "Image 1_3")
    -#   -# %img.img-responsive.portfolio-item{:alt => "Image_3", :src => "http://placehold.it/500x300"}/
    -# .col-sm-3.col-xs-6
    -#   = image_tag("1_4.jpg", size: "350x150", :alt => "Image 1_4")
    -#   -# %img.img-responsive.portfolio-item{:alt => "Image_4", :src => "http://placehold.it/500x300"}/
    -# .col-sm-3.col-xs-6
    -#   = image_tag("1_5.jpg", size: "350x150", :alt => "Image 1_5")
    -#   -# %img.img-responsive.portfolio-item{:alt => "Image_5", :src => "http://placehold.it/500x300"}/

  %hr/

  %footer
    .row
      .col-lg-12
        %p
          Copyright © Ham is super awesome - 2016
