
.container
  - @users.each do |user|
    .row
      .col-md-4
        = image_tag attachment_url(user, :picture), size: "300x300"
      .col-md-4
        %h3
          Agent
        %p
          Name:
          = user.agent_name
        %p
          Phone:
          = user.phone
        %p
          Email:
          = user.email
        %p
          Address:
          = user.address
      .col-md-4
        %h3
          Bio
        %p.text-justify
          = user.description
    .row
      .col-md-4
        %h3.page-header
